@import "../../../theme/mixins/mixins";

$pageSize: 15rem;
.router_active {
  background: #f0f0f0 !important;
  color: #000 !important;
  border-radius: 4px;
  &:hover,
  &:active {
    background: #f0f0f0 !important;
    color: #000 !important;
  }
}

.user button {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.top_bar_wrapper {
  margin-bottom: 40px;
  z-index: 1;
  @include responsive(padding, 17px 11px, ipad);
}

.top_bar {
  padding: 17px 32px;
  height: 72px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #004d47 0% 0% no-repeat padding-box;
  border-radius: 8px;
  h6 {
    font-size: 24px;
  }
  mat-icon {
    display: none;
    color: #fff;
    cursor: pointer;
    margin-right: 1rem;
    @include responsive(display, block, ipad);
  }
}
.overlay {
  @include absolute_position(0, 0, 0, 0);
  z-index: 11;
  background: rgba(0, 0, 0, 0.4) !important;
  content: "";
}
.sidebar {
  position: fixed;
  width: 260px;
  background: #fff;
  top: 0;
  bottom: 0;
  @include device(ipad) {
    z-index: 999;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
    padding: 3rem 7%;
    width: 100%;
    top: 0;
    left: 0;
    width: 75%;
    bottom: 0;
  }
  &__logo {
    min-height: 176px;
    padding: 2rem;
    @include responsive(padding, 2rem 2rem 0.8rem 2rem, ipad);
    p {
      color: #727272;
    }
    img {
      @include image_size(64px, 64px);
    }
    button {
      background: #004d47 0% 0% no-repeat padding-box;
      border-radius: 17px !important;
      padding: 0.15rem 1rem;
    }
  }
  &__menu {
    height: calc(100vh - 176px) !important;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #fff;
    padding: 1rem 1rem 3rem 1rem;
    &::-webkit-scrollbar {
      width: 0.3em;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(196, 196, 196, 0.53);
      border-radius: 30px;
      outline: 1px solid none;
    }
  }
  li {
    list-style: none;
    padding: 0.7rem 0.4rem;
    font-size: 14px;
    cursor: pointer;
    span {
      margin-left: 1rem;
    }
  }
}

.main {
  min-height: 100vh;
  padding: 0 32px 2rem 292px;
  @include device(ipad) {
    padding: 112px 11px 2rem 11px;
  }
  @include resizeAnimation(padding);
  .outlet {
    min-height: calc(100vh - 8rem) !important;
    overflow-x: auto;
  }
  &.sidebarResized {
    padding: 6rem 0 4rem 5rem;
  }
}

.motion_in {
  transform: translateX(0) !important;
}

.mobile {
  display: none;
}
.add-icon {
  background: #FF5700;
  border-radius: 50%;
  @include flex_y_center;
  @include image_size(1.5rem, 1.5rem);
  margin-left: 3rem !important;
  color: #ffffff;
  font-size: 29px;
}
.logout-span {
  margin-left: 4.5rem !important;
  padding-bottom: 3rem;
  padding-top: 6rem;
}

@media screen and (max-width: 599px) {
  .main {
    .sidebar {
      right: 0;
    }
    .outlet {
      padding-left: 0;
    }
  }
  .search {
    display: none !important;
  }
}

.title-bold {
  font-weight: 500;
}

.header-title {
  opacity: 25%;
}
